.input-field{
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s,color 0.3s;
    color: #555;

}
.input-field:focus{
    outline: none;
    border-color: #007bff;
}

.input-field:valid {
    color: green;
    background-color: brown; 
  }

.inner-div{
    justify-content: center;
    flex: center;
    display: inline;
}
label{
    justify-content: center;
    color: whitesmoke;
    display: contents;
}

form{
    border: 2px solid red;
    padding: 30px;
    justify-content: center;
    border-radius: 10px;
    display: inline-block;
    background-color: #304357;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(28, 137, 124);
}
h1{
    color: #007bff;
}

